<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.badu.mapper.OrderExpMapper">

    <resultMap id="BaseResultMap" type="com.badu.model.OrderExp">
        <id column="id"  property="id" javaType="java.lang.Long" />
        <result column="order_no"  property="orderNo" javaType="java.lang.String" />
        <result column="order_note" property="orderNote" javaType="java.lang.String" />
        <result column="insert_time" property="insertTime" javaType="java.util.Date" />
        <result column="expire_duration" property="expireDuration" javaType="java.lang.Long" />
        <result column="expire_time" property="expireTime" javaType="java.util.Date" />
        <result column="order_status" property="orderStatus" javaType="java.lang.Short" />
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM order_exp
    </select>

    <insert id="insertDelayOrder" useGeneratedKeys="true"
            keyProperty="order.id">
		insert into order_exp (order_no, order_note,
		insert_time, expire_duration,expire_time, order_status)
		values (#{order.orderNo,jdbcType=VARCHAR},
		#{order.orderNote,jdbcType=VARCHAR},
		now(), #{expire_duration},
		DATE_ADD(now(),INTERVAL #{expire_duration} SECOND),
		#{order.orderStatus,jdbcType=SMALLINT})
	</insert>

    <select id="findById" resultMap="BaseResultMap">
        SELECT * FROM order_exp where  id=#{id}
    </select>


</mapper>